In [4]:
import cufflinks as cf
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
cf.go_offline()

In [9]:
df=pd.DataFrame(np.random.randn(100,3))

In [10]:
df

           0         1         2
0  -0.663673  0.524771 -0.533879
1   0.222639  0.964467 -1.043696
2   0.152528  0.510093 -0.207369
3  -0.628480  0.711390 -1.041375
4  -2.053998 -1.170142 -0.988020
..       ...       ...       ...
95 -0.692360  0.431982 -0.458081
96 -0.467730  0.400815  0.256275
97 -1.064456 -0.701392  0.077006
98 -0.008036  0.168601 -0.044639
99  0.365880 -0.549168  1.418338

[100 rows x 3 columns]