In [49]:
import pandas as pd

In [70]:
import numpy as np

In [50]:
import mysql.connector as connection

In [75]:
mydb = connection.connect(host="localhost", user="root", passwd="",database="practice")

In [76]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021CA6EA6C70>

In [77]:
cursor = mydb.cursor()

In [92]:
cursor.execute(" create table if not exists practice.attributes_dataset  ( Dress_ID INT, Style VARCHAR(15), Price VARCHAR(15) ,Rating FLOAT(5), Size VARCHAR(15),Season VARCHAR(15), NeckLine VARCHAR(15), SleeveLength VARCHAR(15), waiseline VARCHAR(15),Material VARCHAR(15),FabricType VARCHAR(15),Decoration VARCHAR(15),`Pattern Type` VARCHAR(15), Recommendation INT)")

In [7]:
data = pd.read_excel(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\data-science-bootcamp\python-assignment\dataset\Attribute DataSet.xlsx')

In [8]:
data.to_csv('C:\\Users\\Pranshu Chaurasia\\Desktop\\data-science-bootcamp\\data-science-bootcamp\\python-assignment\\dataset\\Attribute DataSet.csv',index=False)

In [18]:
data1=data = pd.read_csv(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\data-science-bootcamp\python-assignment\dataset\Attribute DataSet.csv')

In [79]:
print(data1)

       Dress_ID    Style    Price  Rating  Size  Season   NeckLine  \
0    1006032852     Sexy      Low     4.6     M  Summer     o-neck
1    1212192089   Casual      Low     0.0     L  Summer     o-neck
2    1190380701  vintage     High     0.0     L  Automn     o-neck
3     966005983    Brief  Average     4.6     L  Spring     o-neck
4     876339541     cute      Low     4.5     M  Summer     o-neck
..          ...      ...      ...     ...   ...     ...        ...
495   713391965   Casual      Low     4.7     M  Spring     o-neck
496   722565148     Sexy      Low     4.3  free  Summer     o-neck
497   532874347   Casual  Average     4.7     M  Summer     v-neck
498   655464934   Casual  Average     4.6     L  winter  boat-neck
499   919930954   Casual      Low     4.4  free  Summer     v-neck

    SleeveLength waiseline       Material  FabricType  Decoration  \
0      sleevless    empire            NaN     chiffon     ruffles
1          Petal   natural     microfiber         NaN     ruffles
2           full   natural       polyster         NaN         NaN
3           full   natural           silk     chiffon  embroidary
4      butterfly   natural  chiffonfabric     chiffon         bow
..           ...       ...            ...         ...         ...
495         full   natural       polyster         NaN         NaN
496         full    empire         cotton         NaN         NaN
497         full    empire         cotton         NaN        lace
498    sleevless    empire           silk  broadcloth    applique
499        short    empire         cotton    Corduroy        lace

    Pattern Type  Recommendation
0         animal               1
1         animal               0
2          print               0
3          print               1
4            dot               0
..           ...             ...
495        solid               1
496          NaN               0
497        solid               1
498        print               1
499        solid               0

[500 rows x 14 columns]

In [80]:
df = pd.DataFrame(data1)

In [81]:
df.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [82]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [83]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [84]:
df.isnull().values.any()

True

In [85]:
df.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
waiseline          87
Material          128
FabricType        266
Decoration        236
Pattern Type      109
Recommendation      0
dtype: int64

In [86]:
df.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [87]:
df=df.fillna(value='Not available')

In [88]:
df.isnull().sum()

Dress_ID          0
Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
waiseline         0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
dtype: int64

In [89]:
sql = "INSERT INTO practice.attributes_dataset values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [90]:
df.shape[0]

500

(1006032852, 'Sexy', 'Low', 4.6, 'M', 'Summer', 'o-neck', 'sleevless', 'empire', nan, 'chiffon', 'ruffles', 'animal', 1)

MySQLInterfaceError: Python type numpy.int64 cannot be converted

In [94]:
for j in range (df.shape[0]):
        temp_dict= dict(df.iloc[j,:])
        temp_values=temp_dict.values()
        temp_tup=tuple(temp_values)
        l=[]
        x=len(temp_tup)
        for i in range (x):
            if(i==0):
                l.append(int(temp_tup[i]))
            elif(i==3):
                l.append(float(temp_tup[i]))
            elif(i==13):
                l.append(int(temp_tup[i]))
            else:
                l.append(str(temp_tup[i]))
        tup_new=tuple(l)
        cursor.execute(sql,tup_new)
        mydb.commit()