In [2]:
import pandas as pd

In [3]:
pd.read_excel(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [4]:
pd.read_excel('C:/Users/Pranshu Chaurasia/Desktop/data-science-bootcamp/sample_datasets/Attribute DataSet.xlsx')

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [5]:
df = pd.read_excel('C:\\Users\\Pranshu Chaurasia\\Desktop\\data-science-bootcamp\\sample_datasets\\Attribute DataSet.xlsx')

In [6]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
#To read data from multiple sheets
#To give a custom column name use names
# To remove first roaw as column name use header =None
#pd.read_excel('C:/Users/Pranshu Chaurasia/Desktop/data-science-bootcamp/sample_datasets/Attribute DataSet.xlsx',sheet_name='pran',header=None,names=["A","B","C"])

In [9]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [10]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [16]:
pd.read_csv(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\haberman.csv',header=None,names=['Age','Year of Operation','No. Of. Positives','Survival status'])

     Age  Year of Operation  No. Of. Positives  Survival status
0     30                 64                  1                1
1     30                 62                  3                1
2     30                 65                  0                1
3     31                 59                  2                1
4     31                 65                  4                1
..   ...                ...                ...              ...
301   75                 62                  1                1
302   76                 67                  0                1
303   77                 65                  3                1
304   78                 65                  1                2
305   83                 58                  2                2

[306 rows x 4 columns]

In [17]:
pd.read_csv(r'C:\Users\Pranshu Chaurasia\Desktop\data-science-bootcamp\sample_datasets\haberman1.csv',header=None,sep='@',names=['Age','Year of Operation','No. Of. Positives','Survival status'])

     Age  Year of Operation  No. Of. Positives  Survival status
0     30                 64                  1                1
1     30                 62                  3                1
2     30                 65                  0                1
3     31                 59                  2                1
4     31                 65                  4                1
..   ...                ...                ...              ...
301   75                 62                  1                1
302   76                 67                  0                1
303   77                 65                  3                1
304   78                 65                  1                2
305   83                 58                  2                2

[306 rows x 4 columns]

In [18]:
pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/main/data/worldwide-aggregate.csv')

           Date  Confirmed  Recovered   Deaths  Increase rate
0    2020-01-22        557         30       17            NaN
1    2020-01-23        657         32       18      17.953321
2    2020-01-24        944         39       26      43.683409
3    2020-01-25       1437         42       42      52.224576
4    2020-01-26       2120         56       56      47.529576
..          ...        ...        ...      ...            ...
811  2022-04-12  500880363          0  6185040       0.207437
812  2022-04-13  501920234          0  6189593       0.207609
813  2022-04-14  502892186          0  6193401       0.193647
814  2022-04-15  503606396          0  6195647       0.142021
815  2022-04-16  504155459          0  6197159       0.109026

[816 rows x 5 columns]